{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>User: {{ user.username }}</h1>
        <div class="button-container">
            {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}" class="button-link">Edit Profile</a></p>
            {% endif %}
        </div>
        <hr>

        <div class="profile-container">
            <div class="user-details">
                <h1>About me:</h1>
                <p>{{ user.about_me }}</p>
                <h2>My Skill Level:</h2>
                <p>{{ user.skill_level }}</p>
                <h2>My Year Level:</h2>
                <p>{{ user.grade }}</p>
            </div>
            <div class="favourite-games">
                <h1>My Favourite Games:</h1>
                <table>
                    <tr>
                        <th>Game Title</th>
                    </tr>
                    {% for favourite, game in favourites %}
                        <tr>
                            <td>{{ game.game_title }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
